h2
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


#noMail
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 15px;
}

#sendButton

{
    border: solid 1px;
    background-color: pink;
    -webkit-border-radius: 5px;
    border-color: purple;
    color: white;
    height: 20px;
    width: 120px;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
    margin-bottom: 5px;
}

tbody
{
    overflow-y: scroll;
}

th {
    border: 1px solid purple;
    width:20%;

}

input[type=text] {
    border: 1px solid purple;
}

textarea
{

    border: 1px solid purple;
}

.senderList
{
    margin: 0 auto;
    text-align:left;
    float: left;
    position: relative;



}

#from
{
    display:block;
    position:absolute;
    top:-25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 10px;
}

.reply
{
    display: inline-block;
    position: relative;
}

.reply p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 10px;
    display:block;
    position:absolute;
    top:-55px;

}

.reply form
{
    display:block;
    position:absolute;
    top:-25px;


}

.oldMsg
{
    display: inline-block;
    margin-right: 15px;
}

.messageFields-holder

{

    text-align: center;

}

#oldMessages
{
    width: 550px;
    height: 300px;
}

#content
{

}