.info, .info2
{

margin: 0 auto;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
font-size: 20px;
display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
}


.userName
{
    display: inline-block;
    margin: 0 auto;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;


}

#profilepic
{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;}





.pics
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
font-size: 12px;

}

.pics ul
{
list-style-type:none;
list-style-position:outside;
   text-align: justify;
  margin: 0 auto;
  width: 15em;
}



.edits
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
font-size: 12px;


}

.edits input[type=text], .edits input[type=number], .edits input[type=email], .edits select{
 

    border: solid 1px;
	border-color: purple;
    width: 150px;
    display: inline-block;
	margin-bottom: 5px;
	
  
}


::-webkit-file-upload-button, .pics input[type=submit] {
   border: solid 1px;
background-color: pink;
-webkit-border-radius: 5px;
border-color: purple;
color: white;
height: 20px;
width: 150px;
font-weight: bold;
display: inline-block;
text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
cursor: pointer;
margin-bottom:5px;

}





.edits input[type=submit], .edits input[type=file]
{

border: solid 1px;
background-color: pink;
-webkit-border-radius: 5px;
border-color: purple;
color: white;
height: 35px;
width: 150px;
font-weight: bold;
display: inline-block;
text-shadow: 0px 2px 2px rgba(0,0,0,0.6);

}


.edits ul
{
list-style-type:none;
list-style-position:outside;
display: inline-block;
text-align: justify;

  }

  .edits li
  {
  list-style-type:none;
  list-style-position:outside;
  }

.edits label
{
display: inline-block;
 width: 140px; 
 text-align: left;
margin-bottom: 5px;

}

.edits input:disabled, .edits select:disabled
{
    background-color: lightgrey;
}


#save
{
margin-top: 25px;

}

#mailme
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 15px;
    border: solid 1px;
    background-color: pink;
    -webkit-border-radius: 5px;
    border-color: purple;
    color: white;
    height: 20px;
    width: 150px;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
    cursor: pointer;
    margin-bottom:5px;
    text-decoration: none;
}