h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 25px;

}

p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}


.user {
    float: left;
    padding: 30px;
    position: relative;
}

.selectedUsers {
    display: inline-block;
    padding: 30px;
}

.link-span {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* edit: added z-index */
    z-index: 1;

    /* edit: fixes overlap error in IE7/8,
       make sure you have an empty gif */
    /*background-image: url('empty.gif');*/
}
