.header{
	background-color: #FF66CC;
	padding: 10px;
	 border: 2px solid;
	 border-color: purple;
	border-radius: 25px;
	 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	color: white;
	display: inline-block;
	width: 99%;
	position: relative;
	
	
	}
	

	
	 /* Color settings for registration link */
	.header a{
	color: white;
	
	}
	
	
	
	
 /* Title */	
h1 {


  width: 350px;
   font-size: 48px;
  
			-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 70%, rgba(0,0,0,1));
				 font-style: italic;
		 		 float: left;
	
}

 /* Color settings for log-in text */	
#login
{
color: white;

font-size: 12px;
}

 /* Position for navigation menu */
#links
{
position: absolute;


    left: 40%;
    bottom: 20px;



}

 /* Navigation menu link settings */
#links a
{

	font-size: 22px;
	margin: 10px;
	text-decoration:none;
}


#links a:hover
{
font-size: 150%;
color: red;
	
}

	
	

 /* Register text position */
#register
{
padding: 10px;
font-size: 12px;
text-align: right;

    
}

#login  input[type=submit] 
{
border: solid 1px;
background-color: pink;
-webkit-border-radius: 5px;
border-color: purple;
color: white;

width: 150px;
font-weight: bold;
display: inline-block;
text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}

#user
{
text-align: right;
}

#userlinks
{
font-size: 10px;
}

#welcome
{
font-size: 18px;
}


