h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 20px;
}

p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 15px;
}

table, td, tr
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 15px;
}


input[type=submit]{

    border: solid 1px;
    background-color: pink;
    -webkit-border-radius: 5px;
    border-color: purple;
    color: white;
    height: 35px;
    width: 150px;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
    margin-top: 25px;

}

#fields ul
{

    list-style-type:none;
    list-style-position:outside;
    text-align: justify;
    margin: 0 auto;
    width: 8em;
}

