h2
{
margin-left: 45%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
font-size: 20px;
}

.register
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
font-size: 12px;

}

.register input[type=text], .register input[type=password], .register input[type=number], .register input[type=email]{
 

    border: solid 1px;
	border-color: purple;
    width: 150px;
    display: inline-block;
	margin-bottom: 5px;

   
}



.register input[type=submit] 
{

border: solid 1px;
background-color: pink;
-webkit-border-radius: 5px;
border-color: purple;
color: white;
height: 35px;
width: 150px;
font-weight: bold;
display: inline-block;
text-shadow: 0px 2px 2px rgba(0,0,0,0.6);

}

.register ul
{
list-style-type:none;
list-style-position:outside;
display: inline-block;
}


.register label
{
display: inline-block;
 width: 140px; 
 text-align: left;
margin-bottom: 5px;
}

.register select
{
display: inline-block;
 width: 150px; 
 text-align: right;
border: solid 1px;
 border-color: purple;
margin-bottom: 5px;
}